#sobre-mi {
  background-color: @secondary-color-super-light;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  h2 {
    font-size: 2.5em;
    color: @secondary-text-color;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.2em;
    color: @secondary-text-color;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  img {
    border: 4px solid @secondary-color;
    box-shadow: 0 0 15px @primary-color-dark;
  }
}


#habilidades {
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  h2 {
    font-size: 2.5em;
    color: @primary-color;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;

    li {
      font-size: 1.2em;
      color: @secondary-text-color;
      margin-bottom: 15px;
      line-height: 1.8;
    }
  }
}

